<h1><%= @grade %></h1>

<h2><%= @score %> is your total score</h2>

<p><%= @total_outbound %> outbound calls

<p><%= @total_minutes %> minutes spoken

<p><%= @average_response_hours %> average response time (hours)

